body{
    padding: 1rem;
    background-color: antiquewhite; 
}

p{
    font-size: 0.5rem ;
    color: #333;
    font-family: 'Times New Roman', Times, serif;

}
.text-black{
    color: black;
    font-size: 12px;
}
.text-success{
color: green;
font-size: 12px;
}

#text-success-100{
     
}